<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page</title>
  </head>
  <body>
    {% extends 'base.html' %} {% block title %}Registration Form{% endblock %}
    {% block content %}
    <h1>Welcome to the Main Page</h1>

    <!-- Insert a link that goes to the register page -->
    <a href="{{ url_for('register') }}">Register</a>
  </body>
  {% endblock %}
</html>
