.openworklogo {
    margin-left: 10px;
    margin-top: -10px;
}

.logo {
  color: #ff7148;
  font-size: 27px;
  font-weight: bold;
}

.letter-o {
  color: #ffffff;
  font-size: 32px;
  font-family: "Arial", sans-serif;
  
}
h1 {
  color: #ff7148;
  font-family: "Arial", sans-serif;
  margin-bottom: 10px;


}

        /* Basic styling for the header */
        header {
            background-color:#ff7148;
            color: #fff;
            text-align: center;
            padding: 10px;
            padding-bottom: 10px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 20px;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 50;
            margin-bottom: 10px;
            height: 6vh;
        }
        
   .fas.fa-home {
    font-size: 28px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}



        /* Set a high z-index to keep the header above other elements */
        h1 {
            font-size: 24px;
            margin: 0;
            padding: 0;
            border-top-right-radius: ;
        }

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
        }

        nav li {
            margin-right: 20px;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            margin-right: 30px;
            font-size: 16px;
            margin-top: 20px;
            text-align: center;
            margin-bottom: 30px;
            transition: color 0.3s ease;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        nav a:hover {
            color: #f0f0f0;
        }

        /* Footer styling */
        footer {
            background-color:#fff;
            color:#ff7148;
            text-align: center;
            padding: 10px;
            height: 6vh;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 50;
            display: flex;
            justify-content: space-between;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .footers-button {
            color:#ff7148;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            align-items: center;
           
          
            
        }

        .footers-button i {
            font-size: 16px;
            margin-bottom: -5px;
           
            
        }

        .footers-button p {
            font-size: 14px;
        }

        .footers-button:hover {
            color: #f0f0f0;
        }
body {
    background: linear-gradient(#ccc, #ccc) 0 0 / 100% 200px no-repeat, linear-gradient(#fff, #fff) 0 400px / 100% 100% no-repeat;
    margin: 0; /* Reset default margin */
    padding: 20px; /* Reset default padding */
}
.info-container {
 
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
 
}

.info-container h1 {
  color: #fff;
}