/* edit_profile.css */

/* Styles for the edit profile container */
.edit-form-container {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px auto;
    margin-bottom: 50px;
    max-width: 400px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Styles for form labels */
.edit-form-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

/* Styles for form inputs */
.edit-form-container input[type="text"],
.edit-form-container input[type="file"] {
    width: calc(100% - 20px); /* Adjusted width */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box; /* Added box-sizing property */
}

/* Styles for form buttons */
.edit-form-container button {
    background-color: #ff7148;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.edit-form-container button:hover {
    background-color: #ff5e33;
}

/* Additional styling for the submit button */
.edit-form-container .submit-button {
    margin-top: 20px;
}

.edit-form-container h1 {
    margin-bottom: 20px;
}

.profile-pic {
    height: 100px;
    border-radius: 50px;
}

.btn {
    background-color: #ff7148;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgb(42, 191, 42);
}
