body {
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  
}

.container {
  max-width: 400px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 40px;
  background-color:#ccccccdf;
  
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}


header {
  text-align: center;
  margin-bottom: 30px;
}
h2 {
  color: #000000;
  margin-bottom: 50px;
}
h1 {
  color: #ff7148;
  font-family: "Arial", sans-serif;
  margin-bottom: 10px;
  margin-top: 20px;
}

.logo {
  color: #ff7148;
  font-size: 29px;
  margin-bottom: 20px;
}

.letter-o {
  color: #ffffff;
  font-size: 32px;
}

.form-group {
  margin-bottom: 30px;
}
.checkbox-list {
  list-style: none;
  padding: 0;
}

.checkbox-list li {
  margin-bottom: 10px;
}

.checkbox-list input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #ff7148;
  border-radius: 3px;
  margin-right: 5px;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox-list label {
  vertical-align: middle;
  font-family: "Arial", sans-serif;
  color: #333;
  cursor: pointer;
}

/* Style the checked state of the checkbox */
.checkbox-list input[type="checkbox"]:checked {
  background-color: #ff7148;
}

/* Style for the price input */
.price-input {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 150px;
}

.price-input span {
  background-color: #f7f7f7;
  border-right: 1px solid #ccc;
  padding: 5px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.price-input input {
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  width: 100px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}



.checkbox-list input[type="checkbox"]:checked + label {
  color: white;
}
input[type="date"] {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ff7148;
  font-size: 15px;
  color: #333;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Style the time picker */
input[type="time"] {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ff7148;
  font-size: 15px;
  color: #333;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Style the form buttons */
button {
  background-color: #ff7148;
  color: white;
  border: none;
  padding: 14px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.prev-button {
  background-color: #888;
  margin-right: 10px;
}

.next-button {
  background-color: #ff7148;
}

/* Style the form sections */
.form-section {
  display: none;
}

.form-section.active {
  display: block;
}

.form-group {
  margin-bottom: 30px;
}
label {
  display: block;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ff7148;
  font-size: 16px;
  color: #333;
}
#job_description {
  height: 50px;
}
textarea {
  resize: vertical;
}
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ff7148;
  font-size: 16px;
  color: #333;
  resize: vertical; /* This allows vertical resizing of the textarea */
}
select {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ff7148;
  font-size: 16px;
  color: #333;
}

/* Style for the "Other" category input field */
.other-category {
  display: none;
}
.hidden {
  display: none;
}
/* Hide the default file input button */
input[type="file"] {
  display: none;
}

/* Style the custom file input button */
.custom-file-input {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff7148;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Optional: Add hover and focus effects */
.custom-file-input:hover,
.custom-file-input:focus {
  background-color: #ff8d6f;
}

input[type="submit"] {
  background-color: #ff7148;
  color: white;
  border: none;
  padding: 14px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ff8d6f;
}
